
Django==1.10.5

gunicorn==19.6.0

MarkupSafe==0.23
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
pyOpenSSL==16.0.0
pyttsx==1.1
requests==2.11.1
service-identity==16.0.0

virtualenv==15.0.3

