{% extends 'base.html'%}
{% block body %}
<div class="col-md-4 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
          +91-8802868625<br>
        muzammilafsar@gmail.com
      </div>
      <div class="panel-body">




        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
        <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/muzammil-afsar-04a09363" data-format="inline" data-related="false"></script>
      </div>
    </div>
</div>
{% endblock %}